@use 'navs';

@mixin flex_col{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@mixin flex_row{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@mixin button{
        background-color: $button-colour;
        width:40%;
        height:50px;
        border-radius: 15px;
        text-align: center;

        a{
            text-decoration: none;
            color:#efefef;
            font-size: $font-size-one;
            font-family: sf;
            font-weight: 400;
        }
}

$primary-color: #460A52;
$button-colour:#F64747;
$font-size-one:22px;
$font-size-two:18px;
$font-size-three:16px;
$font-size-four:14px;

header{
    @include flex_row;
    height:80vh;
    width: 100%;
    // background-color: $primary-color;

    #show{
        display: block;
        flex-wrap: nowrap;
        width:80%;
        height:90vh;
        background-color: #030303;
        z-index: 5;
        position: fixed;
        border-radius: 0;
        margin-left: 20%;

        .close{
            width:10%;
            height:5%;
            background-image: url(images/icons/close.png);
            background-repeat: unset;
            background-size: cover;
            border-radius: 0;
            margin-top: 2%;
            margin-bottom: 10%;

        }


        .links{
            @include flex_col;
            flex-wrap: nowrap;
            width:50vw;
            border-radius: 0;
            background-color: transparent;
            height: 35%;
            margin-bottom: 10%;
        }

        a{
            text-decoration: none;
            color: #efefef; 
            font-size: 4vh;
        }

    }

    div{
        width:20em;
        height:20em;
        border-radius: 500px;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(231, 231, 231);
        @include flex_row;
        justify-content: space-around;

        img{
            width:70%;
            height: auto;
        }
    }
  
    button{
        all:unset;
        margin-left: 30%;
        @include button;
        margin-bottom: 5%;
    }
}

.buy{
    @include flex_col;
    flex-wrap: nowrap;
    width:100%;
    height:25em;

    span{
        margin: 5%;
        font-size: 5vh;
        font-weight: 500;
        color: #4A75E9;
    }

    button{
        all:unset;
        @include button;
        border-radius: 0;
        margin-bottom: 3%;
    }
}

@media screen  and (max-width: 820px) {
    .buy{
        button{
            margin-bottom: 1%;

            a{
                font-size: 3vh;
            }
        }
    }
    
}

@media screen and (max-width: 425px) {
    header{
        height: 60vh;
    }    
}

@media screen and (min-width: 820px) {
    header{
        div{
            width:30em;
            height: 30em;
        }
    }

    .buy{
        height: 35em;

        button{
            margin-bottom: 2%;

            a{
                font-size: 5vh;
            }
        }
    }
}