@font-face {
  font-family: primaryFont;
  src: url(fonts/_Matchmaker.ttf);
}
@font-face {
  font-family: playFair;
  src: url(fonts/PlayfairDisplay-Medium.ttf);
}
@font-face {
  font-family: sf;
  src: url(fonts/SFPRODISPLAYREGULAR.OTF);
}
* {
  padding: 0;
  margin: 0;
  font-family: sf;
  overflow-x: hidden;
}

nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3em;
  background-color: #460A52;
}
nav #menu {
  width: 5%;
  height: 40%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0 5px 0;
}
nav #menu div {
  width: 100%;
  height: 3px;
  border-radius: 15px;
  background-color: #efefef;
}

@media screen and (max-width: 480px) {
  footer {
    height: 25em;
  }
}
@media screen and (min-width: 820px) {
  #menu {
    height: 50%;
  }
  #menu div {
    height: 5px;
  }
  footer a img {
    margin-bottom: 10%;
  }
  footer div img {
    width: 15%;
  }
}
header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  width: 100%;
  background-color: #460A52;
}
header #show {
  display: block;
  flex-wrap: nowrap;
  width: 80%;
  height: 90vh;
  background-color: #030303;
  z-index: 5;
  position: fixed;
  border-radius: 0;
  margin-left: 20%;
}
header #show .close {
  width: 10%;
  height: 5%;
  background-image: url(images/icons/close.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0;
  margin-top: 2%;
  margin-bottom: 10%;
}
header #show .links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 50vw;
  border-radius: 0;
  background-color: transparent;
  height: 35%;
  margin-bottom: 10%;
}
header #show a {
  text-decoration: none;
  color: #efefef;
  font-size: 4vh;
}
header div {
  width: 20em;
  height: 20em;
  border-radius: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: space-around;
}
header div img {
  width: 70%;
  height: auto;
}
header button {
  all: unset;
  margin-left: 30%;
  background-color: #F64747;
  width: 40%;
  height: 50px;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 5%;
}
header button a {
  text-decoration: none;
  color: #efefef;
  font-size: 22px;
  font-family: sf;
  font-weight: 400;
}

.preorder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.199);
  width: 60%;
  height: 20em;
}
.preorder div {
  width: 40%;
  height: 20%;
  border: solid 1px black;
  border-radius: 5px;
  margin-left: 2%;
  margin-right: 2%;
}

article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 15em;
  margin: 3% 0;
}
article .s1 {
  color: #F64747;
  width: 90%;
  background-color: rgba(246, 71, 71, 0.1764705882);
  border-radius: 25px;
  font-size: 5vh;
  font-weight: 400;
  padding: 10px;
  text-align: center;
}
article h2 {
  width: 90%;
  font-size: 4vh;
  text-align: center;
  font-style: italic;
  font-weight: 200;
}
article h2 span {
  font-size: 4vh;
  color: rgb(56, 134, 56);
  background-color: none;
}

.sneak, .lessons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 80em;
  margin-bottom: 5%;
}
.sneak span, .lessons span {
  width: 80vw;
  font-size: 3vh;
  text-align: center;
}
.sneak iframe, .lessons iframe {
  width: 80vw;
  height: 65vh;
  border-radius: 15px;
}
.sneak div, .lessons div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: space-around;
  width: 80vw;
  height: fit-content;
  border-radius: 7px;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.116);
}
.sneak div h1, .lessons div h1 {
  font-size: 3vh;
  text-align: center;
  margin-bottom: 2%;
}
.sneak div span, .lessons div span {
  border-radius: 15px;
  width: 70%;
  padding: 2px;
  border: solid 1px #f64747;
  margin-bottom: 5%;
}

.lessons {
  height: 50em;
  background-color: #F64747;
  color: #efefef;
}
.lessons ol {
  text-align: center;
  font-size: 3vh;
}
.lessons ol li {
  text-align: center;
  margin-bottom: 15%;
}

.reviews {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40em;
  margin-bottom: 5%;
}
.reviews div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  height: 30%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.281);
  border-radius: 15px;
}
.reviews div span {
  height: 70%;
  display: flex;
  align-items: center;
}

.others {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 5px 0;
  margin: 2% 0;
}
.others h1 {
  text-align: center;
  width: 100%;
}
.others div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  height: 50%;
  margin: 2% 5%;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.212);
}
.others div img {
  width: 60%;
  height: auto;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30em;
}
footer span {
  width: 100%;
  text-align: center;
}
footer div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.308);
  border-radius: 15px;
  margin-bottom: 5%;
  margin-right: 5%;
  margin-left: 5%;
}
footer div img {
  width: 20%;
  height: auto;
}

@media screen and (max-width: 480px) {
  article .s1 {
    font-size: 3.5vh;
  }
  article h2 {
    font-size: 3vh;
  }
  article h2 span {
    font-size: 3vh;
    text-align: center;
  }
  .sneak, .lessons {
    height: 70em;
  }
  .sneak h1, .lessons h1 {
    font-size: 3vh;
    text-align: center;
  }
  .sneak div span, .lessons div span {
    width: 90%;
  }
  .lessons {
    height: 45em;
    flex-wrap: nowrap;
  }
  .lessons iframe {
    margin: 2% 0;
  }
  .reviews {
    height: fit-content;
  }
  .reviews div {
    height: 20%;
    margin-bottom: 5%;
  }
  .reviews div h2 {
    font-size: 3vh;
  }
  .reviews div span {
    text-align: center;
  }
  footer {
    height: 25em;
  }
  footer div {
    border-radius: 5px;
  }
}
@media screen and (max-width: 380px) {
  header #show .links {
    margin-right: auto;
    margin-left: auto;
  }
  header #show .links a {
    text-align: center;
    font-size: 3vh;
  }
  header button a {
    font-size: 3vh;
  }
}
@media screen and (min-width: 820px) {
  header {
    height: 100vh;
  }
  header #show {
    margin-top: -10%;
    width: 40%;
    margin-left: 60%;
  }
  header #show .close {
    width: 5%;
    height: 5%;
  }
  header div {
    width: 30em;
    height: 30em;
  }
  header button {
    height: 70px;
  }
  header button a {
    font-size: 5vh;
  }
}

/*# sourceMappingURL=header.css.map */
