@use 'navs';

@mixin flex_col{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@mixin flex_row{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@mixin button{
        background-color: $button-colour;
        width:40%;
        height:50px;
        border-radius: 15px;
        text-align: center;

        a{
            text-decoration: none;
            color:#efefef;
            font-size: $font-size-one;
            font-family: sf;
            font-weight: 400;
        }
}

$primary-color: #460A52;
$button-colour:#F64747;
$green-col:rgb(56, 134, 56);
$font-size-one:22px;
$font-size-two:18px;
$font-size-three:16px;
$font-size-four:14px;


header{
    @include flex_row;
    height:80vh;
    width: 100%;
    background-color: $primary-color;

    #show{
        display: block;
        flex-wrap: nowrap;
        width:80%;
        height:90vh;
        background-color: #030303;
        z-index: 5;
        position: fixed;
        border-radius: 0;
        margin-left: 20%;

        .close{
            width:10%;
            height:5%;
            background-image: url(images/icons/close.png);
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 0;
            margin-top: 2%;
            margin-bottom: 10%;

        }


        .links{
            @include flex_col;
            flex-wrap: nowrap;
            width:50vw;
            border-radius: 0;
            background-color: transparent;
            height: 35%;
            margin-bottom: 10%;
        }

        a{
            text-decoration: none;
            color: #efefef; 
            font-size: 4vh;
        }

    }

    div{
        width:20em;
        height:20em;
        border-radius: 500px;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        @include flex_row;
        justify-content: space-around;

        img{
            width:70%;
            height: auto;
        }
    }
  
    button{
        all:unset;
        margin-left: 30%;
        @include button;
        margin-bottom: 5%;
    }
}

.preorder{
    @include flex_row;
    background-color: #f7f7f7;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.199);
    width:60%;
    height: 20em;

    div{
        width: 40%;
        height:20%;
        border: solid 1px black;
        border-radius: 5px;
        margin-left: 2%;
        margin-right: 2%;
        @include flex_row;
        
        a{
            width:100%;
            height:100%;
            @include flex_row;

            img{
                width:50%;
                height:auto;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

article{
    @include flex_col;
    justify-content: space-around;
    width:100%;
    height:15em;
    margin: 5% 0;

    .s1{
        color:$button-colour;
        width:90%;
        background-color: #f647472d;
        border-radius: 25px;
        border: solid 2px #F64747;
        font-size: 4vh;
        font-weight: 400;
        padding: 10px;
        text-align: center;
    }

    h2{
        width:90%;
        font-size: 4vh;
        text-align: center;
        font-style: italic;
        font-weight: 200;
        
        span{
            font-size: 4vh;
            color:$green-col;
            background-color: none;
        }
    }
}

.sneak{
    @include flex_col;
    justify-content: space-around;
    width:100%;
    height:40em;
    margin-bottom: 5%;
    background-color: #f7f7f7;

    span{
        width:80vw;
        font-size: 3vh;
        text-align: center;
    }

    div{
        @include flex_col;
        justify-content: space-around;
        width:80vw;
        height:fit-content;
        border-radius: 7px;
        box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.116);

        h1{
            font-size: 3vh;
            text-align: center;
            margin-bottom: 2%;
        }

        span{
            border-radius: 15px;
            width:70%;
            padding: 2px;
            border: solid 1px #f64747;
            margin-bottom: 5%;
        }
    }
}

.lessons{
    @extend .sneak;
    flex-wrap: nowrap;
    height:75em;
    background-color: $button-colour;
    color:#efefef;

    h1{
        font-weight: 400;
        margin: 3% 0;
        color:rgb(235, 235, 55);
    }

    iframe{
        width:90%;
        height:480px;
        border-radius: 15px;
    }

    ol{
        text-align: center;
        font-size: 3vh;

        li{
            text-align: center;
            margin-bottom: 5%;
        }
    }
}

.reviews{
    @include flex_col;
    flex-wrap: nowrap;
    width:100%;
    height: 40em;
    margin-bottom: 5%;

    div{
        @include flex_col;
        justify-content: space-around;
        flex-wrap: nowrap;
        width:60%;
        height:35%;
        padding: 0 10px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.281);
        border-radius: 15px;
        margin-bottom: 3%;

        span{
            height: 70%;
            display: flex;
            align-items: center;
            font-style: italic;
            margin-bottom: 2%;
        }

        i{
            color:#5e5e5e;
        }

    }
}

.others{
    @include flex_row;
    width:100%;
    height:fit-content;
    padding: 5px 0;
    margin: 2% 0;

    h1{
        text-align: center;
        width:100%;
    }

    div{
        @include flex_col;
        width:40%;
        height: 50%;
        margin: 2% 5%;
        border-radius: 10px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.212);

        img{
            width:60%;
            height: auto
        }
    }


}

footer{
    @include flex_row;
    width:100%;
    height: 35em;

    span{
        width:100%;
        @include flex_row;
        justify-content: center;
    }


    div{
        @include flex_row;
        width:40%;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.308);
        border-radius: 15px;
        margin-bottom: 5%;
        margin-right: 5%;
        margin-left: 5%;
        
        a{
            width:100%;
            height: 100%;
            @include flex_row;
            justify-content: center;

            img{
                width:30%;
                height: auto;
            }
        }
    }

}


@media screen and (min-width: 820px) {

    header{
        height:100vh;

        #show{
            margin-top: -10%;
            width:40%;
            margin-left: 60%;

            .close{
                width:5%;
                height: 5%;
            }
        }

        div{
            width:30em;
            height: 30em;
        }

        button{
            height: 70px;

            a{
                font-size: 5vh;
            }
        }
    }

    .lessons{
        height:110em;

        ol{
            li{
                margin-bottom: 10%;
            }
        }
    }
    
}

@media screen and (max-width:480px) {

    .preorder{
        height:20em;
        width:80%;

        div{
            height:15%;

            a{
                img{
                    width:80%;
                }
            }
        }
    }
    article{
        .s1{
            font-size: 3.5vh;
        }

        h2{
            font-size: 3vh;

            span{
                font-size: 3vh;
                text-align: center;
            }
        }
    }

    .sneak{
        height: 40em;
        h1{
            font-size: 3vh;
            text-align: center;
        }

        div{
            background-color: #ffffff;
            border-radius: 10px;
            span{
                width:90%;
            }
        }
    }

    .lessons{
        height: 75em;
        flex-wrap: nowrap;
        margin-bottom: 5%;

        iframe{
            margin: 2% 0;
        }
    }

    .reviews{
        height: fit-content;
        margin: 6% 0;

        div{
            width:80%;
            height:15%;
            margin-bottom: 5%;

            h2{
                font-size: 3vh;
            }

            span{
                text-align: center;
            }
        }
    }

    footer{
        margin-top: 10%;
        height: 30em;

        div{
            border-radius: 5px;
            width: 80%;
            margin-right: auto;
            margin-left: auto;

            a{
                img{
                    width:20%;
                    height:auto;
                }
            }
        }
    }
}

@media screen and (max-width: 380px) {
    header{
        #show{
            .links{
                margin-right: auto;
                margin-left: auto;
                a{
                    text-align: center;
                    font-size: 3vh;
                }
            }
        }
        button{
            a{
                font-size: 3vh;
            }
           
        }
    }

    article{
        margin-top: 3%;

        h1{
            font-size: 3vh;
        }

        .s1{
            font-size: 3vh;
            border: none;
        }
    }

    .sneak{
        height:45em;
        
        span{
            width:90%;
        }

        div{
            width:90%;
            h1{
                font-size: 3vh;
            }

            span{
                font-size: 2.6vh;
            }
        }
    }

    .reviews{
        div{
            span{
                width:90%;
                height:95%;
            }
        }
    }
}


